
body{
    text-align: center;

}
header{
    border-bottom: 2px solid black;
}

footer{
    border-top: 2px solid black;
}
div .card{
    width: 110px;
    height: 173px;
    float: left;
    margin: 10px;
}


.wrapper{

    /*z-index: 104;*/
    /*flex: 1;*/
    /*display: flex;*/
    /*align-content: center;*/
    /*flex-flow: row wrap;*/
    /*width: 100%;*/
    /*max-width: 540px;*/
    /*max-height: calc(100% - 150px);*/
    width: 52%;
    height: 100%;
    margin: 0 23% 0 25%;
}
.container {
    margin: 100px auto auto 100px;
    position: relative;
    width: 190px;
    height: 266px;
    /* задаем глубину сцене */
    -webkit-perspective: 600px; /* webkit */
    -moz-perspective: 600px; /* mozilla */
    -ms-perspective: 600px; /* IE 10 */
    -o-perspective: 600px; /* opera когда-то тоже должна начать понимать */
    perspective: 600px;	/* св-во по стандартам */
}

#card { /* поворачивать будем общий контейнер */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;

    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -ms-transition: -moz-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    transition: transform 0.5s; /* трансформации будут происходить анимированно продолжительностью 0.5 сек */

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;	/* указываем, что дочерние элементы находятся в 3D пространстве */
}
#item{
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -ms-transition: -moz-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    transition: transform 0.5s; /* трансформации будут происходить анимированно продолжительностью 0.5 сек */

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
#item.flip{
    transform: rotateY(180deg);
}
#card.flip {	/* добавляя этот класс, поворачиваем контейнер на 180 градусов */

    transform: rotateY( 180deg );
}
.show{
    transform: rotateY( 180deg );
}

figure {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;	/* если элемент "отвернулся" от пользователя, контент этого элемента не виден */
    margin: 0;
}
.back {
    background: red;
    position: absolute;
    transform: rotateY( 180deg );	/* в начальном положении фэйс карты к нам развернут на 180 градусов */
    width: 110px;
    height: 173px;
    float: left;
}
.front {
    position: absolute;
    background: url("app/img/card.jpg") no-repeat;
    background-size: 110px;
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY( 180deg );
    width: 110px;
    height: 173px;
    float: left;
}
