<div class="wrapper">
    <div  *ngFor="let item of items; let i = index" name="item" id="item"   (click)="state(item, i,$event)" class="card">
        <div class="front"></div>
        <div class="back">{{i}}</div>
    </div>

</div>
<div style="clear: both"></div>
<footer>
    <button >Score: {{count}}</button>
</footer>



